body{
    margin:0px;
    overflow: hidden;
}
svg{
    display: inline-block;
}
circle{
    fill: steelblue;
    stroke: black;

}

text{
    font-size: 2.5em;
    font-family:sans-serif;
}

.tick text{
    fill:#635F5D;
    font-size: 2em;
}

.tick line{
    stroke:#C0C0BB;
}

.axis-label{
    
    fill:#4b4846 ;
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
}
.heading{
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    font-weight: bold;
    color:#4b4846;
    
}
table{
    background-color: red;
}